@import url('https://fonts.googleapis.com//css?rfamily=Poppings:300,400,500,600,700,800,900&display=swap');
@import '~@fortawesome/fontawesome-free/css/all.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;

}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;

}

header .logo {
  color: #484440;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

header ul {
  width: 100%;
  text-align: right;
}

header ul li {
  list-style: none;
  margin: 10px 20px;
  display: inline-block;
}

.user{
  width: 25px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 50px;
  
}

header ul li a {
  text-decoration: none;
  padding: 6px 20px;
  color: #484440;
  border-radius: 3px;
}

header ul li a:hover,
header ul li a.active {
  background: #484440;
  color: #ffffff;
}

section {
  position: relative;
  width: 100%;
  height: 100hv;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F6F2EC;
}

.sec {
  position: relative;
  padding: 50px 100px;
  background: #F6F2EC;
  z-index: 2;
}

h2 {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: #484440;
}


/* videos & notes section */

.videos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  

}


.video video {
  transition: .4s;
  max-width: 100%;
  display: block;
  border-radius: 4px 4px 0 0;

}

.video {
  overflow: hidden;
  box-shadow: -1px 3px 8px -1px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  position: relative;
  background-color: #faf9f7;
  /* background-color: var(--header-bg-color); */
  cursor: pointer;

  &:hover .video-time {
    opacity: 0;
  }

  &:hover video {
    transform: scale(1.2);
    transform-origin: center;
  }

  &:hover .view {
    padding: 10px;
  }
}

.video-time {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 8px;
  border-radius: 15px;
  font-size: 12px;
  color: #fff;
  bottom: 80px;
  right: 6px;
  transition: .3s ease-in;
}


.video-content {
  width: 100%;
  color: #484440;
  padding: 15px 10px 0;
  border-radius: 0 0 4px 4px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.view {
  padding: 10px;
  position: relative;
  background-color: var(--header-bg-color);
  color: #484440;
  z-index: 1;
  font-size: 13px;
}

/* videos & notes section */


/* footer */

.footer-basic {
  height: 150px;
  padding: 10px 0;
  background-color: #F6F2EC;
  color: #484440;
  text-align: center;
  z-index: 1000;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  display: flex;
  /* Use flexbox to align items horizontally */
  justify-content: center;
  /* Center align list items */
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social>a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #484440;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social>a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #484440;
  margin-bottom: 0;
}
