@import url('https://fonts.googleapis.com//css?rfamily=Poppings:300,400,500,600,700,800,900&display=swap');
@import '~@fortawesome/fontawesome-free/css/all.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    margin: 0; /* Add this to remove default margin */
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;

}

header .logo {
    color: #484440;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul {
  width: 100%;
  text-align: right;
  }
  
  header ul li {
    list-style: none;
    margin: 10px 20px;
    display: inline-block;
  }
  .user{
    width: 25px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 50px;
    
  }
  
  header ul li a {
    text-decoration: none;
    padding: 6px 20px;
    color: #484440;
    border-radius: 3px;
  }
  
  header ul li a:hover,
  header ul li a.active {
    background: #484440;
    color: #ffffff;
  }
  /* sub menu bar statrs */

.sub-menu-wrap{
  position: absolute;
  top:100%;
  right: 10%;
  width: 320px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}
.sub-menu-wrap.open-menu{
  max-height: 400px;
 
}

.sub-menu{
  background: #fff;
  padding: 20px;
  margin:10px;
  border-radius: 3%;
  
}
.user-info{
  display: flex;
  align-items: center;
  border-radius: 3%;
  
  
}

.user-info h3{
  color: #484440;
  font-weight: 800;   
}
.user-info img{
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
}
.sub-menu hr{
  border: 0;
  height: 1px;
  width: 260px;
  background: #ccc;
  margin: 15px 0 10px;

}

.sub-menu-link{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #484440;
  margin: 12px 0;
  font-weight: 500;
}
.sub-menu-link p{
  width: 200%;
}

.sub-menu-link img{
  width: 40px;
  background: #e5e5e5;
  border-radius: 50%;
  padding: 8px;
  margin-right: 15px;
}
.sub-menu-link span{
  font-size: 20px;
  transition: transform 0.5s;
  color: #484440;
}

.sub-menu-link:hover span{
  transform: translateX(5px);

}

.sub-menu-link:hover p{
  font-weight: 700;
}
  /* sub menu bar ends */
.sec {
    position: relative;
    padding: 50px 100px;
    background: #F6F2EC;
  }
  
h2{
  font-size: 3.5em;
  margin-bottom: 10px;
  text-align: left;
  padding-bottom: 50px;
  padding-top: 100px;
  color: #484440;
}

.search-bar {
  position: relative;
  margin-top: -90px;
  top: 20%;
  left: 88%;
  transform: translate(-50%,-50%);
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;
}
.search-bar:hover{
  width: 300px;
  cursor: pointer;
}
.search-bar:hover input{
  display: block;
}
.search-bar:hover .fas{
  background: #484440;
  color: white;
}

.search-bar input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}
.search-bar a .fas{
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #484440;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
}

.videos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.video img {
  transition: .4s;
  width: 100%; /* Ensure the image takes the full width of its container */
  height: 200px; /* Set a fixed height for consistency */
  object-fit: cover; /* Ensure the image covers its container */
  display: block;
  border-radius: 4px 4px 0 0;
}


.video {
  position: relative;
  overflow: hidden;
  box-shadow: -1px 3px 8px -1px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  background-color: #faf9f7;
  cursor: pointer;
  padding-bottom: 10px; /* Add padding to create space */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video-content {
  width: 100%;
  color: #484440;
  padding: 10px; /* Reduce padding from the bottom */
  margin-bottom: 10px;
  border-radius: 0 0 4px 4px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.buy-button {
  background-color: #484440;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buy-button:hover {
  background-color: #847e78;
}



  /* footer */

.footer-basic {
    height: 150px;
    padding: 10px 0;
    background-color: #F6F2EC;
    color: #484440;
    text-align: center;
    z-index: 1000;
  }
  
  .footer-basic ul {
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    display: flex;
    /* Use flexbox to align items horizontally */
    justify-content: center;
    /* Center align list items */
  }
  
  .footer-basic li {
    padding: 0 10px;
  }
  
  .footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
  }
  
  .footer-basic ul a:hover {
    opacity: 1;
  }
  
  .footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
  }
  
  .footer-basic .social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #484440;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
  }
  
  .footer-basic .social>a:hover {
    opacity: 0.9;
  }
  
  .footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #484440;
    margin-bottom: 0;
  }
  
  /* end footer */
