* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;

}

.container {
    width: 100%;
    height: 100vh;
    background: #F6F2EC;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

form h3 {
    color: #484440;
    font-weight: 800;
    margin-bottom: 20px;
}

form input {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
}

form button {
    padding: 12px;
    background: #484440;
    color: #fff;
    font-size: 18px;
    border: 0;
    cursor: pointer;
    width: 150px;
    margin: 15px;
    margin-left: 50px;
    border-radius: 10px;
}